{% extends 'base.html' %}
{% load static %}
{% block content%}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>About The Project</h1>
                        <span class="subheading">Ducks and ducks and ducks and ducks</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>Welcome to our Duck Database!</p>
                    <br>
                    <p>On this website, you'll be able to see a collection of ducks that students in the 2022-2023 Junior Core received on Orientation Day. These ducks have gone through and helped us a lot this semester, so we figured they deserved a website dedicated to them. Hope you have fun browsing through all of our unique friends!</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
