{% extends 'base.html' %}
{% load static %}
{% block content%}
<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Add a Duck!</h1>
                </div>
            </div>
        </div>
    </div>
</header>
 <!-- Main Content-->
 <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <head>
                <title>Create a registration form</title>
            <head/>
            <body>Duck Database Creation:
                <form>
                    <label>Duck Image:</label>
                    <br>
                    <input type = "image">
                    <br> <br>
                    <label>Duck First Name:</label>
                    <br>
                    <input type = "text">
                    <br> <br>
                    <label>Duck Last Name:</label>
                    <br>
                    <input type = "text">
                    <br> <br>
                    <label>Duck Age:</label>
                    <br>
                    <input type = "text">
                    <br> <br>
                    <label>Duck Birthday:</label>
                    <br>
                    <input type = "text">
                    <br> <br>
                    <label>Duck Body Color:</label>
                    <br>
                    <input type = "text">
                    <br> <br>
                    <label>Duck Beak Color:</label>
                    <br>
                    <input type = "text">
                    <br> <br>
                    <label>Owner's First Name:</label>
                    <br>
                    <input type = "text">
                    <br> <br>
                    <label>Owner's Last Name:</label>
                    <br>
                    <input type = "text">
                    <br> <br>
                </form>
            </body>
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'confirmation' %}">Finish</a></div>
        </div>
    </div>
</div>
{% endblock %}
