{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block content%}

<header class="masthead" style="background-image: url('{{duck.duck_image.url}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Add a Duck!</h1>
                </div>
            </div>
        </div>
    </div>
</header>
 <!-- Main Content-->
 <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <head>
                <title>Create a registration form</title>
            <head/>
            <body>Duck Database Creation:
                <form method="POST" action="{% url 'duckdatabase:add' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <div class="form-group">
                    <button type="submit" class="btn btn-primary text-uppercase">Finish</button>
                    </div>
                </form>
                <br>
            </body>
            </div>
        </div>
    </div>
</div>
<script>
    function toggle(){
        if ($("#target").css("display") != "none") {
            $("#target").css("display", "none");
            $("#othertarget").css("display", "block");
        } else {
            $("#target").css("display", "block");
            $("#othertarget").css("display", "none");
        }
    };
    </script>
{% endblock %}
