{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block content%}

<header class="masthead post-heading" style="background-image: url('{% static 'assets/img/wave.svg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Add a Duck!</h1>
                </div>
            </div>
        </div>
    </div>
</header>
 <!-- Main Content-->
 <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <body>
                <form method="POST" action="{% url 'duckdatabase:add' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <div class="form-group">
                        <br>
                    <button type="submit" class="btn btn-primary text-uppercase" name="duck_form">Add Duck</button>
                    </div>
                </form>
                <hr class="my-4" />
                <h4>Add Color if Option Not Above</h4>
                <form class="form-group" method="POST" action="{% url 'duckdatabase:add' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{color_form|bootstrap}}
                    <br>
                    <button type="submit" name = "color_form" class="btn btn-primary text-uppercase">Add Color</button>
                </form>
                <hr class="my-4" />
                <h4>Add Owner if Option Not Above</h4>
                <form class="form-group" method="POST" action="{% url 'duckdatabase:add' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{owner_form|bootstrap}}
                    <br>
                    <button type="submit" name="owner_form" class="btn btn-primary text-uppercase">Add Owner</button>
                </form>
                <hr class="my-4" />
            </body>
            </div>
        </div>
    </div>
</div>
{% endblock %}
