{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block content%}

<header class="masthead" style="background-image: url('{{duck.duck_image.url}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Edit {{duck.duck_full_name}}</h1>
                </div>
            </div>
        </div>
    </div>
</header>
 <!-- Main Content-->
 <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <head>
                <title>Create a registration form</title>
            <head/>
            <body><h1>Edit your duck:</h1>
                <img class="img-fluid" src="{{duck.duck_image.url}}"></img>
                <form class="form-group" method="POST" action="{% url 'duckdatabase:edit' duck.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|bootstrap}}
                    <br>
                    <button type="submit" name="duck_form" class="btn btn-primary text-uppercase">Finish</button>
                </form>
                <br>
                <h4>Add Color if Option Not Above</h4>
                <form class="form-group" method="POST" action="{% url 'duckdatabase:edit' duck.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{color_form|bootstrap}}
                    <br>
                    <button type="submit" name = "color_form" class="btn btn-primary text-uppercase">Add Color</button>
                </form>
                <h4>Add Owner if Option Not Above</h4>
                <form class="form-group" method="POST" action="{% url 'duckdatabase:edit' duck.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{owner_form|bootstrap}}
                    <br>
                    <button type="submit" name="owner_form" class="btn btn-primary text-uppercase">Add Owner</button>
                </form>
                <br><br><br>
            </body>
            </div>
        </div>
    </div>
</div>
<script>
    function toggle(){
        if ($("#target").css("display") != "none") {
            $("#target").css("display", "none");
            $("#othertarget").css("display", "block");
        } else {
            $("#target").css("display", "block");
            $("#othertarget").css("display", "none");
        }
    };
    </script>
{% endblock %}
