{% extends 'base.html' %}
{% load static %}
{% block content%}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1603736087997-5daec6092347?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Welcome to the Pond!</h1>
                        <span class="subheading">A Selection of 2022 BYU IS Junior Core Rubber Ducks</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Owner</th>
                    </tr>
                    {% for duck in ducks %}
                    <tr>
                        <td>
                            <a class="link-primary" href="{% url 'duckdatabase:edit' duck.id %}">{{duck.duck_full_name}}</a>
                        </td>
                        <td>{{duck.Owner.owner_full_name}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">This is where our database table will go</h2>
                        <h3 class="post-subtitle">For now I'm going to write something random in here</h3>
                    </a>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="post.html"><h2 class="post-title">This is just a test post to be here to look pretty</h2></a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">Robert Parr</a>
                        on October 13, 1969
                    </p>
                </div>
                <p>Photo by <a href="https://unsplash.com/@jasonthedesigner?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jason Richard</a> on <a href="https://unsplash.com/s/photos/rubber-duck?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>

                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'duckdatabase:add' %}">Add →</a></div>
            </div>
        </div>
    </div>
{% endblock%}
