{% extends 'base.html' %}
{% load static %}
{% block content%}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1603736087997-5daec6092347?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Welcome to the Pond!</h1>
                        <span class="subheading">A Selection of 2022 BYU IS Junior Core Rubber Ducks</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tr >
                        <th>Name</th>
                        <th>Birthday</th>
                        <th>Age</th>
                        <th>Body</th>
                        <th>Beak</th>
                        <th>Owner</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for duck in ducks %}
                    <tr class="clickable-row">
                        <td>{{duck.duck_full_name}}</td>
                        <td>{{duck.duck_birthday}}</td>
                        <td>{{duck.duck_age}}</td>
                        <td>{{duck.body_color}}</td>
                        <td>{{duck.beak_color}}</td>
                        <td>{{duck.Owner.owner_full_name}}</td>
                        <td>{{duck.duck_description}}</td>
                        <td>
                            {% if duck.duck_image %}
                            <a href="{{duck.duck_image.url}}">
                                <i class="fa fa-image"></i>
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'duckdatabase:edit' duck.id %}">              
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'duckdatabase:confirmation' duck.id %}">              
                                <i class="fa fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'duckdatabase:add' %}">Add New Duck →</a></div>
        </div>
    </div>
{% endblock%}
