{% extends 'base.html' %}
{% load static %}
{% block content%}
 <!-- Page Header-->
 <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
    <div class="container position-relative py-0 px-5 px-lg-5">
        <div class="row g-0 gy-0 gx-1 gx-lg-0 justify-content-start">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Search</h1>
                    <br><br>
                    <label>Enter a duck's name, birthday, etc.</label>
                    <br>
                    <input type = "text">
                    <!--<div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'confirmation' %}">Search</a></div>-->
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}